#bingo-container {
  text-align: center;
  background: antiquewhite;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.center-widescreen-width {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.bingo-component-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}

#bingoLogo{
  width: 90%;
  height: auto;
  margin: -20px;
}

.number-div {
  aspect-ratio: 1;
  margin: 5px;
  position: relative;
}

.free-img {
  vertical-align: middle;
}

.number-container {
  background: white;
  height: 100%;
  box-sizing: border-box;
  padding: 0.2em;
}

.number-circle {
  height: 100%;
  background: red;
  border-radius: 50%;
}

.number-text {
  font-family: "Source Serif";
  font-weight: normal;
  color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.cross-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cross-img-hide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media only screen and (max-width: 767px) {     
  /* For mobile phones: */     
  #bingoLogo{
    width: 100%;
    height: auto;
  }

  .center-widescreen-width {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablelet and some desktop: */     
  .center-widescreen-width {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

.arrow-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-icon {
  cursor: pointer;
  font-size: 20px;
}

.arrow-icon:hover{
  color: red;
}

.arrow-icon-selected {
  animation: flashicon 2s infinite;
}

.diagonal {
  transform: rotate(45deg);
}

@keyframes flashicon {
  0%, 100% {
    color: black;
  }
  50% {
    color: dodgerblue;
  }
}
