/* The alert message box */
.alert {
  position: absolute;
  top: 10px;
  left: 50%; 
  transform: translate(-50%, 0);
  padding: 1rem 1rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  z-index: 100;
}

.error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: gray;
}
.hide {
  display: none;
}